@model IEnumerable<T03_CompetitionPlatform.Models.Competition>

@{
    ViewData["Title"] = "View Competitions";
}

<h4 class="PageTitle">View Competitions</h4>

<!-- Add a partial view to display a list of competition records
 in a tabular format. -->
<partial name="~/Views/Competitor/_ViewCompetitions.cshtml" model="@Model" />