@model IEnumerable<T03_CompetitionPlatform.Models.AreaInterest>

@{
    ViewData["Title"] = "AreaInterest";
}

<h4 class="PageTitle">View Area Of Interst</h4>


<partial name="~/Views/Admin/_ViewArea.cshtml" model="@Model" />