@model T03_CompetitionPlatform.Models.Competition

@{
    ViewData["Title"] = "DeleteCompetitionView";
}

<partial name="~/Views/Admin/_AdminNav.cshtml" />

<h1>DeleteCompetitionView</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />
<form asp-action="DeleteCompetition">
    <fieldset class="FormContent">
        <legend>Are you sure to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete"
                       class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>