@{
    Layout = null;
}



@model IEnumerable<T03_CompetitionPlatform.Models.Competition>

@{
    ViewData["Title"] = "View Guest";
}

<partial name="~/Views/Guest/_GuestNavbar.cshtml" />

<div class="mb-3">
    <h2 class="PageTitle" style="margin-top: 70px; font-size:200%; text-align:center;">Guest Homepage</h2>
    <h4>Choose a competition to view:</h4>
    <partial name="~/Views/Guest/_GuestView.cshtml" model="@Model" />
</div>