@model T03_CompetitionPlatform.Models.CompetitionSubmission

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCompetitorWork</title>
</head>

<partial name="~/Views/Guest/_GuestNavbar.cshtml" />
<body>
    
    <h1>ok.</h1>
</body>
</html>
