@model T03_CompetitionPlatform.Models.CompSubmissionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCompetitorWork</title>
</head>

<partial name="~/Views/Guest/_GuestNavbar.cshtml" />
<body>
    
    <h3 style="text-align:center; padding-top:50px;">@Model.Salutation @Model.CompetitorName</h3>
    <div style="flex; align-content:center">
        <embed src="~/images/@Model.FileSubmitted" type="application/pdf">
    </div>
</body>
</html>
