@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>Contact Us</title>

    <!-- offline
    <link rel="stylesheet" href="css/bootstrap.min.css">
    -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js">
    </script>

    <!-- offline
       <script src="js/bootstrap.min.js"></script>
    -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Email form https://www.youtube.com/watch?v=r4RQ38EoLds -->
</head>
<body style="padding:70px">
    <header>
        <!-- A grey navbar that expands horizontally at medium device -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <!-- The brand(or icon) of the navbar -->
            <a class="navbar-brand"
               style="font-size:32px; font-weight:bold; color:darkorange;">
                CJP
            </a>
            <!-- Toggle/collapsible Button, also known as hamburger button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#staffNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links in the navbar, displayed as drop-down list when collapsed -->
            <div class="collapse navbar-collapse" id="staffNavbar">
                <!-- Links that are aligned to the left,
                mr-auto: right margin auto-adjusted -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/AboutUs"
                           style="font-size: 20px;color: white;">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/ContactUs"
                           style="font-size: 20px;color: white">Contact Us</a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home"
                           style="font-size: 20px;color: white;">
                            Return
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- -->
    <!--Start of containers -->
    <div class="container">


            <h1 style="text-align:center; margin-top:15%;">Contact Us</h1>
            <form target="_blank" action="https://formsubmit.co/cjploginteam3@gmail.com" method="POST">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
            </form>


    </div>
</body>
</html>
