@model T03_CompetitionPlatform.Models.Judge

@{
    ViewData["Title"] = "JudgeRegister";
}

<h1>JudgeRegister</h1>

<h4>Judge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="JudgeRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="JudgeName" class="control-label"></label>
                <input asp-for="JudgeName" class="form-control" />
                <span asp-validation-for="JudgeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="AreaInterestID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <!-- Drop-down list displaying Branch Address,
            with Branch Number as returned value -->
                    <select asp-for="AreaInterestID"
                            asp-items="@ViewData["AOIList"] as List<SelectListItem>"
                            class="form-control"></select>
                </div>
            </div>

           
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

