
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<!-- Judge Register -->
<a asp-action="judgeRegister"><p>Judge</p></a>

<!-- Competitor Register -->
<a asp-action="CompetitorRegister" asp-controller="Competitor"><p>Competitor</p></a>