@model T03_CompetitionPlatform.Models.Competition
@{
    ViewData["Title"] = "CreateCriteria";
}
@{
    Layout = null;
}


<partial name="~/Views/Judge/_JudgeNav.cshtml" model="@Model" />

<h1>@ViewData["CompName"]</h1>

