@model T03_CompetitionPlatform.Models.CompetitionViewModel
@{
    ViewData["Title"] = "GradeSubmissions";
}

<h1>GradeSubmissions</h1>

<<partial name="~/Views/Judge/_JudgeNav.cshtml" model="@Model" />


