@model IEnumerable<T03_CompetitionPlatform.Models.Competition>

@{
    ViewData["Title"] = "View Comp";
}

<h4 class="PageTitle">Judges HomePage</h4>


<partial name="~/Views/Judge/_ViewComp.cshtml" model="@Model" />